@charset "utf-8";

html {}

body {
    font-family: "Meiryo", "source-code-pro", monospace;
    width: 100%;
    min-width: 1280px;
}

/* header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #186AC9;
    height: 80px;
}

/* main content */
#row {
    width: 100%;
    display: flex;
    background-color: #fff;
}

/* 共通パーツ：ボタン */
.btn {
    width: 130px;
    height: 10px;
    display: block;
    padding: 20px 10px;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    color: #fff;
    background-color: #186AC9;
}

.btn-link a,
.btn-link a:hover {
    display: block;
    color: #fff;
}

.btn-primary {
    width: 130px;
    height: 40px;
    display: block;
    padding: 10px 10px;
    text-align: center;
    border: none;
    color: #fff;
    background-color: #DC143C;
    box-shadow: none
}

/* 共通パーツ：icon */
.user_icon {
    width: 60px;
    height: 60px;
    padding-right: 10px;
}

.user_icon img {
    width: 60px;
    height: 60px;
}

/* ヘッダー内部（サイトタイトル・サイドコンテンツ） */
.site_title {
    flex-grow: 1;
}

.site_title img {
    margin: 20px;
    height: 60px;
    width: auto;
}

.header_side {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
}


.header_side .user_icon {
    padding: 0 10px;
}

/* ログインユーザー名 */
#Username {
    max-width: 380px;
    padding: 10px;
    text-align: right;
}

#Username h2 {
    color: #fff;
    font-size: 26px;
}

nav {
    display: none;
    position: absolute;
    background-color: #fff;
    /* padding: 0 10px; */
}

nav li {
    border: 1px solid;
}

nav a {
    width: 170px;
    display: block;
    padding: 30px;
    text-align: center;
    color: #727272;
}

/* カーソルオン時は背景を紺に、文字色を白に */
nav li:hover {
    display: block;
    background-color: #186AC9;
}

nav a:hover {
    color: #fff;
}

/* -----アコーディオンメニュー----- */
.nav-open {
    padding: 10px;
    margin: 0px 20px;
    color: #fff;
    font-size: 20px;
    background-color: #186AC9;
}

/* 閉じている時 */
.nav-open::before {
    content: "＞";
    display: inline-block;
    transform: rotate(-90deg);
}

/* 開いている時 */
.nav-open.active::before {
    content: "＞";
    display: inline-block;
    transform: rotate(90deg);
}

/* -----アコーディオンメニューおわり----- */

/* -----サイドバー----- */
#container {
    width: 80%;
    flex-grow: 2;
}

#side-bar {
    flex-grow: 1;
    border-left: 1px solid #727272;
}

.view-follow-link a {
    display: block;
}

.side-username {
    padding: 20px;
}

.view-follow {
    padding: 10px;
}

.view-follow-link {
    width: 150px;
    padding: 15px 0px;
    margin-left: auto;
}

.side-bar-border {
    height: 50px;
    border-bottom: 3px solid #d3d3d3;
}

.to-user-search {
    width: 150px;
    margin-inline: auto;
    padding: 20px 0px;
}


/* -----サイドバーおわり----- */

/* post 投稿 */
.contents_head {
    height: 150px;
    margin-top: 10px;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #d3d3d3;
}

.input_form {
    height: 100%;
    width: 80%;
    display: flex;
}

.form-post {
    border: none;
    display: flex;
}

.input_form textarea {
    border: none;
    width: 100%;
    height: 10em;
    padding: 10px;
    /* textareaのリサイズ指定OFF */
    resize: none;
    /* 行間の指定 */
    height: calc(1.5 * 5em);
    line-height: 1.5;
}

.input_form input {
    width: 350px;
    padding: 10px;
}

.input_form button {
    border: none;
    border-radius: 20px;
    align-self: flex-end;
    padding-left: 50px;
    background: none;
}

.post_submit img {
    border-radius: 20px;
}

.input_form user_icon {
    align-self: flex-start;
}


/* -----タイムライン----- */
/* container */
.post_block {
    display: flex;
    height: 200px;
    background-color: #fff;
    margin-bottom: 4px;
    padding-left: 10%;
    padding-top: 10px;
    border-bottom: solid 1px;
    border-color: #727272;
}

/* text area */
.post_textarea {
    flex-grow: 2;
    max-width: 500px;
    padding: 10px;
    line-height: 1.5;
}

.post_user {
    padding-top: 5px;
    padding-bottom: 20px;
}

.post_user h1 {
    font-size: large;
}

.post_textarea p {
    font-size: medium;
    overflow-wrap: break-word;
}

/* post edit */
.post_edit_time {
    height: 100%;
    flex-grow: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

/* 編集画面モーダル */
#modal-content {
    width: 50%;
    margin: 1.5em auto 0;
    padding: 10px 20px;
    border: 2px solid #aaa;
    background: #fff;
    z-index: 2;
}

.modal-p {
    margin-top: 1em;
}

.modal-p:first-child {
    margin-top: 0;
}

.button-link {
    color: #00f;
    text-decoration: underline;
}

.button-link:hover {
    cursor: pointer;
    color: #f00;
}

#modal-overlay {
    /*追加分*/
    width: 100%;
    height: 120%;
    position: fixed;
    top: 0;
    left: 0;
}


/* update_time */
.update_time {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}

/* edit_trash */
.edit_trash {
    height: 80%;
    margin-bottom: 2%;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
}

.edit img {
    width: 40px;
    margin-right: 15px;
}

/* trash icon */
.trash {
    position: relative;
}

.trash img:first-of-type {
    width: 40px;
}

.trash:hover img:first-of-type {
    opacity: 0;
}

.trash img:last-of-type {
    /* サイズ・位置決定：変更禁止 */
    position: absolute;
    top: -10px;
    left: -10px;
    opacity: 0;
    width: 60px;
}

.trash:hover img:last-of-type {
    opacity: 1;
}

/* -----ユーザー検索----- */


/* -----ユーザー検索結果----- */
.user_searchResult h1 {
    text-align: center;
    margin: 50px;
}

.search_result_list {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.follow_name {
    align-self: center;
    width: 250px;
    padding: 10px;
}

.follow_remove {
    width: 120px;
    align-self: center;
    padding: 10px;
}

.btn_remove {
    background-color: #CB1845;
}

.btn_follow {
    background-color: #58B2DC;
}

.btn-primary {
    background-color: #DC143C;
}

/* フォロ－リスト */
.follows {
    width: 80%;
    display: flex;
    justify-content: center;
}

.follows_title {
    align-self: center;
    padding-left: 20%;
}

.follows_title h1 {
    font-size: x-large;
}

.follows_list {
    flex-grow: 2;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* ツイート投稿画面 */
.input_textarea {
    display: block;
    width: 60%;
    height: 50px;
}

/* プロフィール編集 */
.profile_update {
    display: flex;
    justify-content: center;
}

.profile_update_form {
    table-layout: fixed;
    width: 600px;
}

.pro_icon {
    width: 10%;
}

.pro_label {
    width: 30%;
}

.tr,
td {
    height: 80px;
    align-content: center;

}

.th {
    display: none;
}

td img {
    height: 40px;
    width: auto;
}

.input_update {
    height: 40px;
    width: 95%;
    border: solid 1px #dcdcdc;
}

.img_update {
    width: 97%;
    height: 130px;
}

.img_update::file-selector-button {
    width: 100%;
    height: 100px;
    color: #dcdcdc;
    font-size: 21px;
    border: solid 1px #dcdcdc;
    text-align: center;
    display: block;
}


/* プロフィール */
.user_profile {
    height: 180px;
    display: flex;
    align-items: center;
    border-bottom: solid 10px #dcdcdc;
}

.profile_icon {
    padding-left: 5%;
}

/* profile文字部分 */
.profile_main {
    width: 60%;
}

.name_bio {
    display: flex;
    margin: 10px;
    padding: 10px;
}

.name_bio h1 {
    font-size: 22px;
}

.name_bio_header {
    width: 180px;
}

.name_bio_contents {
    width: 50%;
}

.profile_follow {
    margin-left: 10%;
    margin-bottom: 0;
}


/* modal */
.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 80%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    max-width: inherit;
    /* 親クラスのposition: relativeに影響されない */
    position: fixed;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
}

.modal_post {
    margin-left: auto;
    margin-right: auto;
}

.modal_post textarea {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.up_post_btn {
    width: 50px;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.submit {
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.modal img {
    width: 30px;
    height: 30px;
}
