@charset "utf-8";

html {}

body {}




/* header */
header {
    display: flex;
    justify-content: space-between;
    background: #186AC9;
    height: 120px;
    width: 100%;
    max-width: 100%;
}

.header_content {
    padding: 5px;

}

/* ユーザー名・メニュー・アイコン部分 */
.header_side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* ログインユーザー名 */
#Username {
    width: 240px;
    padding: 10px 10px 10px 10px;
}

#Username h2 {
    color: #fff;
    font-size: 26px;
}

/* ログインユーザーアイコン */
#UserIcon {
    width: 100px;
    padding: 20px 20px 20px 20px;
}

#UserIcon img {
    margin: 5px;
    padding-bottom: 50px;
}

nav {
    display: none;
    position: absolute;
    background-color: #fff;
    margin-top: 16px;
    margin-right: 20px;
}

nav li {
    width: 120px;
    display: block;
    padding: 30px;
    text-align: center;
    border: 1px solid;
}

nav a {
    color: #727272;
}

/* カーソルオン時は背景を紺に、文字色を白に */
nav li:hover {
    background-color: #186AC9;
}

nav a:hover {
    color: #fff;
}

/* -----アコーディオンメニュー----- */
.nav-open {
    padding: 15px;
    color: #fff;
    font-size: 20px;
    background-color: #2073c8;
}

/* 閉じている時 */
.nav-open::before {
    content: "＋";
    right: 20px;
}

/* 開いている時 */
.nav-open.active::before {
    content: "－";
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

/* -----アコーディオンメニューおわり----- */

/* -----フォロー数----- */
#container {
    flex: 0 0 80%;
}


#side-bar-top {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* -----フォロー数おわり----- */
