@charset "utf-8";

html {}

body {}




/* header */
header {
    display: flex;
    justify-content: space-between;
    background: #186AC9;
    height: 120px;
    width: 100%;
    max-width: 100%;
}

.header_content {
    padding: 5px;

}

.header_side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* ログインユーザー名 */
#Username {
    <<<<<<< HEAD width: 180px;
    padding: 10px 10px 10px 10px;
}

#Username h2 {
    font-size: 26px;
    =======width: 90px;
    padding: 10px 10px 10px 10px;
}

#Username p {
    color: #fff;
    font-display: center;

}

/* ログインユーザーアイコン */
#UserIcon {
    width: 90px;
    padding: 10px 10px 10px 10px;
}

#UserIcon img {
    margin: 5px;
    padding-bottom: 50px;
}

#nav {
    width: 60px;
    padding: 10px 10px 10px 10px;
}

/* アコーディオンメニュー */
/*アコーディオン全体*/
#nav input {
    display: none;
    /*チェックボックスを隠す*/
}


/* アコーディオンメニュー */
.nav-open {
    padding: 15px;
    color: #fff;
    font-size: 20px;
    background: #2073c8;
    position: relative;
}

/* 閉じている時 */
.nav-open::before {
    content: "＋";
    position: absolute;
    right: 20px;
}

/* 開いている時 */
.nav-open.active::before {
    content: "－";
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar-top {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}
